.diente {
  position: relative;
  width: 50px;
  /* Tamaño pequeño para odontograma */
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 1.5px solid #333;
  margin: 4px;
}

/* Secciones */
.seccion {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  transition: filter 0.2s;
}

.arriba {
  clip-path: polygon(50% 50%, 0% 0%, 100% 0%);
  background-color: white;
}

.abajo {
  clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
  background-color: white;
}

.izq {
  clip-path: polygon(50% 50%, 0% 0%, 0% 100%);
  background-color: white;
}

.der {
  clip-path: polygon(50% 50%, 100% 0%, 100% 100%);
  background-color: white;
}

.centro {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45%;
  height: 45%;
  background-color: white;
  border-radius: 50%;
  border: 1.5px solid black;
  z-index: 3;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

/* Líneas divisorias */
.linea-diagonal-izq,
.linea-diagonal-der {
  position: absolute;
  background-color: black;
  z-index: 2;
}

.linea-diagonal-izq {
  width: 1.5px;
  height: 150%;
  top: -25%;
  left: 50%;
  transform: rotate(45deg) translate(-50%, 0);
  transform-origin: center;
}

.linea-diagonal-der {
  width: 1.5px;
  height: 150%;
  top: -25%;
  left: 50%;
  transform: rotate(-45deg) translate(-50%, 0);
  transform-origin: center;
}

.Header {
  font-family: sans-serif;
  padding: 20px;
  position: absolute;
  top: 0;
  justify-self: center;
}

.combo-color {
  border: 2px solid black;
  width: 150px;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.combo-opcion {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: white;
}

.cuadro-color {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  margin-right: 10px;
}

.nombre-color {
  font-size: 18px;
  font-weight: 500;
}

.combo-lista {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid black;
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 5;
}

.combo-lista .combo-opcion:hover {
  background-color: #f0f0f0;
}

.numero-diente {
  margin-bottom: 4px;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  color: #333;
}

.diente-deshabilitado {
  opacity: 0.5; /* o cualquier estilo visual que te guste */
  pointer-events: none; /* bloquea clics */
}

.header-botones {
  margin-top: 16px;
  display: flex;
  gap: 12px;
}

.header-botones button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.header-botones button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.header-botones button:active {
  transform: scale(0.98);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
